---
layout: base
title: Blog
tags:
  - nav
---

<div class="container">
  <div class="row">
    {% for post in collections.post %}
    <div class="col m4">
      <div class="card">
        {% if post.data.hero %}
        <div class="card-image">
          <img src="{{ post.url + post.data.hero}}">
        </div>
        {% endif %}
        <div class="card-content">
          <a href="{{ post.url | url }}"><span class="card-title">{{ post.data.title }}</span></a>
          <p>{{ post.data.blurb }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
