---
layout: base
title: Home
---

<div class="container">
  <div class="card">
    <div class="card-content">
      <h3>Hello world</h3>
      <p>
        I'm Alex, I'm a software engineer currently working for Jaguar Land
        Rover. In my spare time I develop <a href="https://gitlab.com/alextiernan6/pocketlab">PocketLab</a>, an open-source app to manage your GitLab projects
      </p>
      <h5>Current Technologies</h5>
      <ul class="browser-default">
        <li>C++</li>
        <li>Qt/QML</li>
        <li>React</li>
        <li>React Native</li>
        <li>HTML5 / CSS3</li>
        <li>Git</li>
      </ul>
    </div>
  </div>
</div>
