<!doctype html>
<html lang="en" class="grey lighten-4" style="height:100%">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Alex Tiernan-Berry | {{ title }}</title>

  <link rel="stylesheet" href="{{ '/style.css' | url }}">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.5.95/css/materialdesignicons.min.css" rel="stylesheet">
</head>

<body class="grey lighten-4">
  <ul id="slide-out" class="sidenav hide-on-print">
      <li><a class="sidenav-close" href="#!"><i class="mdi mdi-close"></i>Close</a></li>
      <hr/>
      {% for nav in collections.nav %}
      <li {% if nav.url in page.url %} class="active" {% endif %}><a href="{{ nav.url | url }}">{{ nav.data.title }}</a></li>
      {% endfor %}
  </ul>
  <header class="hide-on-print">
    <nav>
      <div class="nav-wrapper row">
        <div class="col s12">
          <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="mdi mdi-menu"></i></a>
          <a href="{{ '/' | url }}" class="brand-logo">Alex Tiernan-Berry</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            {% for nav in collections.nav %}
            <li {% if nav.url in page.url %} class="active" {% endif %}><a href="{{ nav.url | url }}">{{ nav.data.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {{ content | safe }}
  </main>
  <script src="{{'/materialize.js' | url}}"></script>
  <script src="https://twemoji.maxcdn.com/v/latest/twemoji.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript">
    M.AutoInit();
    twemoji.parse(document.body);
  </script>
</body>
</html>
