---
layout: base
---

<div style="background:url('hero.jpg');min-width:100%;height:300px;background-size:cover">&nbsp;
</div>
<div class="container">
  <div class="card">
    <div class="card-content">
      <h2>{{ title }}</h2>
      <p class="caption">
        Posted on <b>{{ page.date | moment }}</b>
        by <b>{{ author }}</b>
      </p>
      {{ content | safe}}
    </div>
  </div>
</div>
