@use 'materialize' with (
  $primary-color: #0d47a1
);
@import 'cv';

#pocketLabPage {
  margin-top: 10px;

  #pocketLabHero {
    position: relative;

    #ipad {
      max-width:100%;
      width:500px;
      margin:0 auto;
      display:block;
    }
  }
}

.card {
  .card-title {
    margin-top: 0;
  }
  h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
  }
}

@media only screen and (max-width: 992px) {
  nav .brand-logo {
      font-size: 1.5rem;
  }
}

.caption {
  font-size: 12px;
}

.card-title.padded {
  display: inline-block;
  padding: .5rem 20px 0px;
}

p {
  margin-bottom: 1em!important;
}
p:last-child {
  margin-bottom: 0!important;
}

img.emoji {
   height: 1em;
   width: 1em;
   margin: 0 .05em 0 .1em;
   vertical-align: -0.1em;
}

@media print {
  body {
    padding-top: 10px;
  }

  .hide-on-print {
    display:none!important;
  }

  .browser-default>li {
    break-inside:avoid-page;
  }

  @for $i from 1 to 12 {
    .p#{$i} {
      width: $i * 8.33333%
    }
  }
}
