---
layout: base
title: CV
---

<div id="cv" class="container row">
  <div class="col m4 p4">
    <div class="card">
      <div class="card-image">
        <img src="{{ 'profile_pic.jpg' | url }}" style="max-width:100%"/>
      </div>
    </div>
    <div class="card profile">
      <ul class="collection">
        <li class="collection-item"><i class="mdi mdi-email"></i><span class="profile__link">alextiernan6@gmail.com</span></li>
        <li class="collection-item"><i class="mdi mdi-map-marker"></i><span class="profile__link">Leicestershire, UK</span></li>
        <a title="GitHub Profile" href="https://github.com/atiernan" class="collection-item">
          <i class="mdi mdi-github"></i>
          <span class="profile__link">atiernan</span>
        </a>
        <a title="GitLab Profile" href="https://gitlab.com/alextiernan6" class="collection-item">
          <i class="mdi mdi-gitlab"></i>
          <span class="profile__link">alextiernan6</span>
        </a>
        <a title="CV" href="{{ 'Alex Tiernan-Berry _ CV.pdf' | url }}" class="collection-item hide-on-print">
          <i class="mdi mdi-file-pdf-box"></i>
          <span class="profile__link">Download CV</span>
        </a>
        <a title="Linkedin" href="https://www.linkedin.com/in/alex-tiernan-2b140165/" class="collection-item">
          <i class="mdi mdi-linkedin"></i>
          <span class="profile__link">Linkedin</span>
        </a>
      </ul>
    </div>
    <div class="card">
      <span class="card-title padded">Technologies</span>
      <ul class="collection">
        <li class="collection-item">JavaScript</li>
        <li class="collection-item">TypeScript</li>
        <li class="collection-item">React &amp; React Native</li>
        <li class="collection-item">HTML</li>
        <li class="collection-item">CSS</li>
        <li class="collection-item">Vue</li>
        <li class="collection-item">PHP</li>
        <li class="collection-item">SQL</li>
        <li class="collection-item">Qt/QML</li>
        <li class="collection-item">Git</li>
        <li class="collection-item">Gitlab CI / CD</li>
        <li class="collection-item">Github Actions</li>
      </ul>
    </div>
  </div>

  <div class="col m8 p8">
    <div class="card">
      <div class="card-content">
        <h3>Alex Tiernan-Berry</h3>
        <h5>Senior Frontend Engineer</h5>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2 class="card-title">Profile</h2>
        <p>
          In my spare time I enjoy learning new programming languages, keeping
          up with current business and industry news, and experimeting with home
          automation.
        </p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2 class="card-title">Education</h2>
        <b>De Montfort University, 2010 - 2013</b>
        <p>B.Sc Artificial Intelligence &amp; Mobile Robotics</p>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h2 class="card-title">Experience</h2>
        <div>
          <h5>Boiler Guide, April 2020 - Present</h5>
          <ul>
            <li>Senior Developer</li>
          </ul>
          <ul class="browser-default">
            <li>
              Worked within a team developing a Vue SPA, using Vuex for state
              management.
            </li>
            <li>
              With a focus on improving Lighthouse scores, I rewrote the 
              frontend logic for the company’s main public facing website, 
              mirgrating from jQuery to vanilla Typescript. Using Webpack
              to bundle the output into multiple chuncks for faster loading.
            </li>
            <li>
              Developed a Typescript React Native app. Using Jest and Cucumber 
              for unit testing, integration and e2e acceptance testing. Utilised 
              Storybook to host a web based library for all the design system 
              components, allowing the designer easy access to test their 
              components. Github actions were used to automatically deploy 
              builds to TestFlight
            </li>
          </ul>
        </div>
        <div>
          <h5>Jaguar Land Rover, August 2015 - April 2020</h5>
          <ul>
            <li>Body Systems Software Engineer, 2019 - 2020</li>
            <li>Design Feasibility Engineer, 2017 - 2019</li>
            <li>Graduate Engineer, 2015 - 2017</li>
          </ul>
          <ul class="browser-default">
            <li>
              Worked within the team developing JLR's next generation
              infotainment systems. Working in an Agile environment developing
              user interfaces, and automated build systems.
            </li>
            <li>
              Developed multiple demonstrations to allow rapid testing of new
              user experiences, and aiding visualise new concepts to the
              business leadership, allowing concepts to either thrive or fail
              fast before a large investment is made.
            </li>
            <li>
              Developed an internal system acting as a single source of the
              truth for all department components. With a C++/QML frontend and
              PHP backend, utilising GitLab's CI/CD pipelines to automate
              build, testing, and deployment.
            </li>
          </ul>
        </div>
        <div style="break-inside: avoid;">
          <h5>Touchclone, 2013 - July 2015</h5>
          <ul>
            <li>Software Engineer</li>
          </ul>
          <ul class="browser-default">
            <li>
              Developed a web app &amp; SOAP based API, to manage users,
              devices, and subscriptions. Eventually migrating the application
              from an in-house server to AWS.
            </li>
            <li>
              Developed a windows application, written in C++, that acted as the
              user interface to an embedded device. As well as interacting with
              a SOAP API to handle updates and subscriptions.
            </li>
            <li>
              Developed multiple applications proof of concept, through out the R&amp;D
              process, to enable quick development of ideas.
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        {% if content.CI_PIPELINE_ID  %}
        <p>
          This CV was Continuously Integrated and Deployed in Pipeline
          <a href="{{ content.CI_PIPELINE_URL }}">#{{ content.CI_PIPELINE_ID }}</a>,
          on {{ content.now }}
        </p>
        {% endif %}
        <p>
          This CV is built on top of the
          <a href="https://www.11ty.dev/">eleventy</a> static site generator,
          and the <a href="https://materializecss.com/">Materialize</a> CSS
          framework. You can view the code on
          <a href="https://gitlab.com/alextiernan6/alextiernan6.gitlab.io/-/blob/master/content/cv/index.njk">GitLab</a>
        </p>
      </div>
    </div>
  </div>
</div>
