---
layout: base
title: PocketLab
tags:
  - nav
---

<div class="white">
  <div id="pocketLabPage" class="container row">
    <div class="col m8" id="pocketLabHero">
      <img id="ipad" src="{{'devices.png' | url}}"/>
      <!--<img id="iphone" src="{{'iphone.png' | url}}" />-->
    </div>
      <div class="col m4">
        <h2>PocketLab</h2>
        <p>PocketLab is an opensource GitLab app that lets you manage your projects whilst on the go</p>
      </div>
  </div>
</div>
<div>
  <div class="container row" style="flex-direction:row;display:flex">
    <div class="col m7 s6" style="display:flex;flex-direction:column;justify-content:center">
      <h4>View Repository Files</h4>
      <ul>
        <li>Syntax highlighting for 189 languages</li>
        <li>View images</li>
      </ul>
    </div>
    <div class="col m5 s6">
      <img style="width:100%" src="{{'viewFile.png' | url}}"/>
    </div>
  </div>
</div>
